<div class="card">
    <div class="card-header">
      <strong>Report Id: {{report.id}}</strong>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Manufacturer: {{report.manufacturer}}</li>
      <li class="list-group-item">Model: {{report.model}}</li>
      <li class="list-group-item">Fabrication Year: {{report.fabricationYear}}</li>
      <li class="list-group-item">Color: {{report.color}}</li>
      <li class="list-group-item">Average Review Score: {{report.averageReviewScore}}</li>
    </ul>
</div>